
<header class="grid-middle bg-less-dark text-white">

  <div class="col-4">
    <div class="margin-l-1">
     <a href="/index"> <h1 class="logo sm-text-logo"> pajurama </h1></a>
    </div>
  </div> 

  <nav class="col-8-right right hide-sm padded-05">

    <a href="/index"> Start </a>
    <a href="/about"> Über uns </a>
    <a href="/work-with-us"> Dienstleistungen </a>
    <div class="dropdown">
    <a href="/portfolio" class="dropdown-title"> Portfolio </a>
      <div class="dropdown-content">
        <a href="/photography-portfolio.html"> Fotografie </a>
        <a href="/web-dev-portfolio.html"> Web Design </a>
        <a href="/graphicdesign-portfolio.html"> Grafikdesign </a>
      </div>
    </div>
    <a href="/contact"> Kontakt </a>
    <div class="language"> <span class="earth"> <i class="fa-solid fa-earth-americas"></i> </span>
      <div class="language-icons">
        <a href="#"> <img src="/flags/germany.svg" class="flag uk-flag"> </a>
        <a href="/english{{page.url}}"> <img src="/flags/united-kingdom.svg" class="flag"></a>
      </div>
    </div>
    
  </nav> 


    <div class="col-7 right show-sm">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
  
<div class="mobile-menu"> 
  <h1 class="logo-mob-menu left"> pajurama </h1>
  <nav class="mobile-menu-links"> 
    <a href="/index" class="margin-t-2"> Start </a>
    <a href="/about"> Über uns </a>
    <a href="/work-with-us"> Dienstleistungen </a>
    <a href="/portfolio"> Portfolio </a>
    <div class="dropdown-content-mobile">
      <a href="/photography-portfolio.html"> Fotografie </a>
      <a href="/web-dev-portfolio.html"> Web Design </a>
      <a href="/graphicdesign-portfolio.html"> Grafikdesign </a>
    </div>
    <a href="/contact"> Kontakt </a>
    <a href="#"> <img src="/flags/germany.svg" class="flag"> </a>
    <a href="/english{{page.url}}"> <img src="/flags/united-kingdom.svg" class="flag"></a>
  </nav>
  <div class="social-links-mobile-menu">
    <a href="https://www.instagram.com/pajurama/" id="inline-block" target="_blank"><i class="fa-brands fa-instagram xs-fa-brands"></i></a>
    <a href="https://www.pinterest.ch/pajurama/_created/" id="inline-block" target="_blank"><i class="fa-brands fa-pinterest xs-fa-brands"></i></a>
    <a href="https://www.youtube.com/channel/UCTtoydCIveCXAMoB8auCg3Q" id="inline-block" target="_blank"><i class="fa-brands fa-youtube xs-fa-brands"></i></a>  
  </div>
</div> 

